<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TARDIS_App_Beta.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <TARDIS_App_Beta.My.MySettings>
            <setting name="Fullscreenkey" serializeAs="String">
                <value />
            </setting>
            <setting name="IsFirstTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Escapekey" serializeAs="String">
                <value />
            </setting>
            <setting name="Helpkey" serializeAs="String">
                <value />
            </setting>
            <setting name="Startkey" serializeAs="String">
                <value />
            </setting>
            <setting name="Endkey" serializeAs="String">
                <value />
            </setting>
            <setting name="TVKey" serializeAs="String">
                <value />
            </setting>
            <setting name="CBKey" serializeAs="String">
                <value />
            </setting>
            <setting name="T2005Key" serializeAs="String">
                <value />
            </setting>
            <setting name="T2010Key" serializeAs="String">
                <value />
            </setting>
            <setting name="T2013key" serializeAs="String">
                <value />
            </setting>
            <setting name="ActualHum" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RunAtStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideKey" serializeAs="String">
                <value />
            </setting>
            <setting name="MouseKey" serializeAs="String">
                <value />
            </setting>
            <setting name="LanguageAutoDetect" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="T2005Volume" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="T2010Volume" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="T2013Volume" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="StartVolume" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="TravellingVolume" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="EndTravelVolume" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="TVVolume" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="CBVolume" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="T2005Device" serializeAs="String">
                <value />
            </setting>
            <setting name="T2010Device" serializeAs="String">
                <value />
            </setting>
            <setting name="T2013Device" serializeAs="String">
                <value />
            </setting>
            <setting name="StartDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="TravellingDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="EndDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="TVDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="CBDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenDoorKey" serializeAs="String">
                <value />
            </setting>
            <setting name="CloseDoorKey" serializeAs="String">
                <value />
            </setting>
            <setting name="EmergencyFlightKey" serializeAs="String">
                <value />
            </setting>
            <setting name="InactivityHideMouse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SecondsMouseInactivity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EmergencyFlightVolume" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="DoorOpenVolume" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="DoorCloseVolume" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="DoorCloseDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="DoorOpenDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="EmergencyFlightDevice" serializeAs="String">
                <value />
            </setting>
        </TARDIS_App_Beta.My.MySettings>
    </userSettings>
</configuration>
