<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TARDIS_App_Beta.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <TARDIS_App_Beta.My.MySettings>
            <setting name="Fullscreenkey" serializeAs="String">
                <value />
            </setting>
            <setting name="IsFirstTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Escapekey" serializeAs="String">
                <value />
            </setting>
            <setting name="Helpkey" serializeAs="String">
                <value />
            </setting>
            <setting name="Startkey" serializeAs="String">
                <value />
            </setting>
            <setting name="Endkey" serializeAs="String">
                <value />
            </setting>
            <setting name="TVKey" serializeAs="String">
                <value />
            </setting>
            <setting name="CBKey" serializeAs="String">
                <value />
            </setting>
            <setting name="T2005Key" serializeAs="String">
                <value />
            </setting>
            <setting name="T2010Key" serializeAs="String">
                <value />
            </setting>
            <setting name="T2013key" serializeAs="String">
                <value />
            </setting>
            <setting name="ActualHum" serializeAs="String">
                <value />
            </setting>
            <setting name="RunAtStart" serializeAs="String">
                <value>False</value>
            </setting>
        </TARDIS_App_Beta.My.MySettings>
    </userSettings>
</configuration>
